In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv')
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
df.to_csv("../data/raw/titanic.csv", index=False)

In [11]:
dicionario = pd.DataFrame([
    {
        "variavel": "survived",
        "descricao": "Binário indicando se o passageiro sobreviveu ou não",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    },{
        "variavel": "pclass",
        "descricao": "Tipo de classe da passagem - representa também a classe social do pasageiro",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos passageiros",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "age",
        "descricao": "Idade",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "sibsp",
        "descricao": "Quantidade de irmãos, meio-irmãos, marido e mulher",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "parch",
        "descricao": "Quantidade de filhos e enteados, pai ou mãe",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "fare",
        "descricao": "Valor da passagem",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "embarked",
        "descricao": "Portão de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "class",
        "descricao": "Classe",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "who",
        "descricao": "Categoriza o passageiro em homem, mulher e criança",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "adult_male",
        "descricao": "Indicador se o passageiro é um homem adulto",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "deck",
        "descricao": "Sessão do navio",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "embark_town",
        "descricao": "Cidade de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alive",
        "descricao": "Coluna indicando se o passageiro está vivo",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alone",
        "descricao": "Coluna indicando se o passageiro está sozinho no navio",
        "tipo": "qualitativa",
        "subtipo": "nominal"
    }
])
    
dicionario.to_csv("../data/external/dictionary.csv", index=False)
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Binário indicando se o passageiro sobreviveu o...,qualitativa,nominal
1,pclass,Tipo de classe da passagem - representa também...,qualitativa,ordinal
2,sex,Sexo dos passageiros,qualitativa,nominal
3,age,Idade,quantitativa,discreta
4,sibsp,"Quantidade de irmãos, meio-irmãos, marido e mu...",quantitativa,discreta
5,parch,"Quantidade de filhos e enteados, pai ou mãe",quantitativa,discreta
6,fare,Valor da passagem,quantitativa,continua
7,embarked,Portão de embarque,qualitativa,nominal
8,class,Classe,qualitativa,ordinal
9,who,"Categoriza o passageiro em homem, mulher e cri...",qualitativa,nominal
10,adult_male,Indicador se o passageiro é um homem adulto,qualitativa,nominal
11,deck,Sessão do navio,qualitativa,nominal
12,embark_town,Cidade de embarque,qualitativa,nominal
13,alive,Coluna indicando se o passageiro está vivo,qualitativa,nominal
14,alone,Coluna indicando se o passageiro está sozinho ...,qualitativa,nominal